body {
    font-family: "Poppins", sans-serif;
    background-color: #202020;
}

body::-webkit-scrollbar {
    display: none;
}

ul {
    font-weight: 400 !important;
    padding: 0;
    margin: 0;
}

li {
    font-weight: 400 !important;
    font-size: 0.85em !important;
    list-style: none;
    margin: 0;
    padding: 0;
}

label,
textarea,
input {
    font-weight: 400 !important;
    font-size: 0.85em !important;
    padding: 0;
    margin: 0;
}

p {
    font-weight: 400 !important;
    font-size: 0.85em !important;
    padding: 0;
    margin: 0;
}

th,
td {
    font-weight: 400 !important;
    font-size: 0.85em !important;
    padding: 0;
    margin: 0;
}

.sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #202020;
    color: white;
    z-index: 1040;
    padding: 15px;
    overflow-y: auto;
}

.sidebar .nav-link {
    color: #b4b4b4;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
}

.sidebar .nav-link:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.sidebar .nav-link.active {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.content-wrapper {
    margin-left: 300px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topbar {
    background: linear-gradient(160deg, #202020, #363636);
    color: #ffffff !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: rgba(61, 61, 61, 0.733) 0px 0px 20px;
    border: 1px solid rgba(146, 146, 146, 0.63);
    border-radius: 12px !important;
    margin-bottom: 30px;
    font-weight: 500;
    padding: 15px 30px !important;
}

.btn_dark {
    background-color: #202020;
    border-color: #202020;
    font-size: small;
    color: #ffffff;
    font-size: 0.85em !important;
    font-weight: 500;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}

.btn_dark:hover {
    background-color: #202020;
    color: #363636;
    border-color: #202020;
    box-shadow: #202020 0px 0px 10px;
}

/* btn main */

.btn_cream {
    background-color: #f5f1e3;
    border-color: #f5f1e3;
    font-size: 0.85em !important;
    color: #6d2932;
    font-weight: 500;
    border-radius: 15px;
    padding: 8px 25px 8px 25px;
}

.btn_cream:hover {
    background-color: #f5f1e3;
    color: #6d2932;
    border-color: #f5f1e3;
    box-shadow: #f5f1e3 0px 0px 10px;
}

.btn_maroon {
    background-color: #6d2932;
    border-color: #6d2932;
    color: #f5f1e3;
    font-size: 0.85em !important;
    font-weight: 500;
    border-radius: 15px;
    padding: 8px 25px 8px 25px;
}

.btn_maroon:hover {
    background-color: #6d2932;
    color: #f5f1e3;
    border-color: #6d2932;
    box-shadow: #6d2932 0px 0px 10px;
}

.btn-primary {
    background-color: #202020;
    border-color: #202020;
    font-size: 0.85em !important;
    border-radius: 15px;
    font-weight: 500;
    padding: 8px 25px 8px 25px;
}

.btn-primary:hover {
    background-color: #202020;
    border-color: #202020;
    box-shadow: #202020 0px 0px 10px;
}

.btn-secondary {
    background-color: #505050;
    border-color: #505050;
    border-radius: 15px;
    font-size: 0.85em !important;
    padding: 8px 25px 8px 25px;
}

.btn-secondary:hover {
    background-color: #505050;
    border-color: #505050;
    box-shadow: #505050 0px 0px 10px;
}

.btn-light {
    background-color: #ececec;
    border-color: #ececec;
    font-size: 0.85em !important;
    color: #202020;
    border-radius: 15px;
    padding: 8px 25px 8px 25px;
}

.btn-light:hover {
    background-color: #ececec;
    border-color: #ececec;
    color: #202020;
    box-shadow: #ececec 0px 0px 10px;
}

/* btn color */

.btn-danger {
    background-color: #ffddd8;
    font-size: 0.85em !important;
    border-color: #ffddd8;
    color: #ff6a55;
    font-weight: 500;
    border-radius: 15px;
    padding: 8px 25px 8px 25px;
}

.btn-danger:hover {
    background-color: #ff6a55;
    border-color: #ff6a55;
    color: #ffddd8;
    box-shadow: #ff6a55 0px 0px 10px;
}

.btn-warning {
    background-color: #fff2bc;
    border-color: #fff2bc;
    color: #dfbb2e;
    font-size: 0.85em !important;
    font-weight: 500;
    border-radius: 15px;
    padding: 8px 25px 8px 25px;
}

.btn-warning:hover {
    background-color: #dfbb2e;
    border-color: #dfbb2e;
    color: #fff2bc;
    box-shadow: #dfbb2e 0px 0px 10px;
}

.btn-success {
    background-color: #dfffd3;
    border-color: #dfffd3;
    color: #83bf6e;
    font-weight: 500;
    font-size: 0.85em !important;
    border-radius: 15px;
    padding: 8px 25px 8px 25px;
}

.btn-success:hover {
    background-color: #83bf6e;
    color: #dfffd3;
    border-color: #83bf6e;
    box-shadow: #83bf6e 0px 0px 10px;
}
