body {
    font-family: "Poppins", sans-serif;
    background: #dbdbdb;
    /* background: linear-gradient(160deg, #b3b3b3, #ffffff); */
}

ul {
    font-weight: 400 !important;
    padding: 0;
    margin: 0;
}

li {
    font-weight: 400 !important;
    font-size: 0.85em !important;
    list-style: none;
    margin: 0;
    padding: 0;
}

i {
    margin: 0;
    padding: 0;
}

p {
    font-weight: 400 !important;
    font-size: 0.85em !important;
    padding: 0;
    margin: 0;
}

th,
td {
    font-weight: 400 !important;
    font-size: 0.85em !important;
    padding: 0;
    margin: 0;
}

hr {
    height: 1px;
    margin: 0;
    padding: 0;
}

.color_dark {
    color: #363636 !important;
}

.color_cream {
    color: #f5f1e3 !important;
}

.color_darkCream {
    color: #cfccc1 !important;
}

.color_maroon {
    color: #8b3440 !important;
}

.color_lightMaroon {
    color: #e26172 !important;
}

.color_darkMaroon {
    color: #501e24 !important;
}

/* background jual lelang */
.bg_form {
    background: #f0f0f0;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 0.85em !important;
    color: #202020;
    border: #e0e0e0 1px solid;
}

.bg_dark {
    background: linear-gradient(160deg, #202020, #363636);
    border-radius: 10px;
    padding: 10px 10px;
    border: #505050 1px solid;
}

.bg_maroon {
    background: linear-gradient(160deg, #501e24, #6d2932);
    border-radius: 10px;
    padding: 10px 10px;
    border: #702b33 1px solid;
}

.bg_cream {
    background: linear-gradient(160deg, #e0d4a3, #f5f1e3);
    border-radius: 10px;
    padding: 10px 10px;
    border: #f5f1e3 1px solid;
}

.bg_home {
    background: linear-gradient(160deg, #6d2932, #f5f1e3);
    border-radius: 10px;
    padding: 10px 10px;
    border: #f5f1e3 1px solid;
}

/* background category */
.bg_category {
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: 15px 15px;
    border: #e6e6e6 1px solid;
}

.bg_main {
    background-color: #202020;
    border-color: #505050 !important;
}

.bg_dropdown {
    background-color: #202020 !important;
    border-radius: 10px !important;
    padding: 10px 10px !important;
}

.bg_dropdownSelect:hover {
    background-color: #363636 !important;
    border-radius: 5px !important;
}

.btn_dark {
    background-color: #202020;
    border-color: #202020;
    color: #ffffff;
    font-size: 0.85em !important;
    font-weight: 500;
    border-radius: 15px;
    padding: 8px 25px 8px 25px;
}

.btn_dark:hover {
    background-color: #202020;
    color: #ffffff;
    border-color: #202020;
    box-shadow: #202020 0px 0px 10px;
}

/* btn main */

.btn_cream {
    background-color: #f5f1e3;
    border-color: #f5f1e3;
    color: #948f7e;
    font-size: 0.85em !important;
    font-weight: 500;
    border-radius: 15px;
    padding: 8px 25px 8px 25px;
}

.btn_cream:hover {
    background-color: #f5f1e3;
    color: #6d2932;
    border-color: #f5f1e3;
    box-shadow: #f5f1e3 0px 0px 10px;
}

.btn_maroon {
    background-color: #6d2932;
    border-color: #6d2932;
    color: #f5f1e3;
    font-size: 0.85em !important;
    font-weight: 500;
    border-radius: 15px;
    padding: 8px 25px 8px 25px;
}

.btn_maroon:hover {
    background-color: #6d2932;
    color: #f5f1e3;
    border-color: #6d2932;
    box-shadow: #6d2932 0px 0px 10px;
}

.btn-primary {
    background-color: #202020;
    border-color: #202020;
    font-size: 0.85em !important;
    border-radius: 15px;
    font-weight: 500;
    padding: 8px 25px 8px 25px;
}

.btn-primary:hover {
    background-color: #202020;
    border-color: #202020;
    box-shadow: #202020 0px 0px 10px;
}

.btn-secondary {
    background-color: #505050;
    border-color: #505050;
    font-size: 0.85em !important;
    border-radius: 15px;
    padding: 8px 25px 8px 25px;
}

.btn-secondary:hover {
    background-color: #505050;
    border-color: #505050;
    box-shadow: #505050 0px 0px 10px;
}

.btn-light {
    background-color: #ececec;
    border-color: #ececec;
    font-size: 0.85em !important;
    color: #202020;
    border-radius: 15px;
    padding: 8px 25px 8px 25px;
}

.btn-light:hover {
    background-color: #ececec;
    border-color: #ececec;
    color: #202020;
    box-shadow: #ececec 0px 0px 10px;
}

/* btn color */

.btn-danger {
    background-color: #ffddd8;
    border-color: #ffddd8;
    color: #ff6a55;
    font-size: 0.85em !important;
    font-weight: 500;
    border-radius: 15px;
    padding: 8px 25px 8px 25px;
}

.btn-danger:hover {
    background-color: #ff6a55;
    border-color: #ff6a55;
    color: #ffddd8;
    box-shadow: #ff6a55 0px 0px 10px;
}

.btn-warning {
    background-color: #fff2bc;
    border-color: #fff2bc;
    color: #dfbb2e;
    font-size: 0.85em !important;
    font-weight: 500;
    border-radius: 15px;
    padding: 8px 25px 8px 25px;
}

.btn-warning:hover {
    background-color: #dfbb2e;
    border-color: #dfbb2e;
    color: #fff2bc;
    box-shadow: #dfbb2e 0px 0px 10px;
}

.btn-success {
    background-color: #dfffd3;
    border-color: #dfffd3;
    color: #83bf6e;
    font-size: 0.85em !important;
    font-weight: 500;
    border-radius: 15px;
    padding: 8px 25px 8px 25px;
}

.btn-success:hover {
    background-color: #83bf6e;
    color: #dfffd3;
    border-color: #83bf6e;
    box-shadow: #83bf6e 0px 0px 10px;
}
